{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About us page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monoton&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <div style="width 100%; length: 100%; #4F6C84;"></div>
    <a href="/"><div style="width: 30%; height: 158px; right: 34%; top: 0px; position: fixed; color: white; font-size: 400%; font-family: Monoton; font-weight: 400%; word-wrap: break-word">clothem</div></a>
    <div style="width: 83.5%; height: 70%; right: 8.25%; top: 30%; position: fixed; color: white; font-size: 100%; font-family: Inter; font-weight: 800; word-wrap: break-word">Добро пожаловать в мир стильной и удобной одежды с CLOTHEM! Мы – команда, объединившаяся в стремлении упростить поиск идеального наряда для каждого. Наша миссия заключается в том, чтобы помочь вам находить одежду по фотографиям, которые вдохновляют.
        <br/>
        <br/>Мы понимаем, как важно одеваться по настроению и обстоятельствам, и как трудно бывает найти именно то, что вам нужно. Поэтому мы разработали уникальный сервис, который позволяет вам загрузить фото и получить рекомендации по похожим предметам одежды из различных коллекций.
        <br/>
        <br/>Мы гордимся тем, что предлагаем не только удобный поиск, но и широкий выбор стильных решений на любой вкус. Наша команда постоянно работает над тем, чтобы обновлять ассортимент и включать самые актуальные тренды.
        <br/>
        <br/>Присоединяйтесь к нашему сообществу модных искателей! Следите за нами в социальных сетях, делитесь своими находками и вдохновляйтесь идеями от остальных пользователей. Мы здесь, чтобы помочь вам раскрыть свой стиль и сделать процесс шопинга более увлекательным и простым.</div>
    <div style="width: 7%; height: 158px; right: 46.5%; top: 13%; position: fixed; color: white; font-size: 125%; font-family: Inter; font-weight: 400; word-wrap: break-word">About us.</div>
    <a href="/"><div style="width: 5.5%; height: 2%; position: fixed; right: 1.5%; top: 3%; color: white; font-size: 90%; font-family: Inter; font-weight: 300; word-wrap: break-word">main page</div></a>

    <div style="width: 15%; height: 15%; left: 9%; bottom: 7.5%; position: fixed; color: white; font-size: 100%; font-family: Inter; font-weight: 200; word-wrap: break-word">Авторы: <br/>Болотин Захар<br/>Жуков Владислав<br/>Шифрин Александр</div>
    <div style="width: 15%; height: 15%; right: 9%; bottom: 7.5%; position: fixed; color: white; font-size: 100%; font-family: Inter; font-weight: 200; word-wrap: break-word">Наши контакты: <br/>cloth3m@gmail.com<br/>@clothem<br/>+7-777-777-77-77</div>
</body>
</html>